body  {
    margin: 0;
    padding: 0;
    background-color: rgb(24, 19, 19);
    font-size: 50px;
    color: rgb(151, 146, 168);
    box-sizing: border-box;
    box-shadow: inset 0 0 50px 10px #6d09a7; 
    overflow: hidden;
}

.player header {
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: rgba(101, 2, 112, 0.815);
    color: azure;
    border-radius: 20px;
    flex-direction: column;

}

.player main {
    color: azure;
    margin: 100px;
    height: 100dvh;
    padding: 0px;
    flex: 1;
    min-height: 0;
    display: 0;
    align-items: center;
    justify-content:center;
    box-sizing: border-box;
    box-shadow: inset 0 0 50px 10px #eeebeb; 
}
.titulos .capa img{
    -ms-flex-item-align: center;
    margin: 10px;
}

button img{
    display: flex;
    width:70%;
    height:24px;
    font-size: 16px;
    padding: 10px;
    
    
}
.titulos{ 
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-align: center;
    

}



    
footer {
    align-items: center;
    color: white;
    text-align: center;
    line-height: 600px;
    font-size: medium;
}

.controles {
    text-align: center;



}
.progresso{
    
    height: 24px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.volume{
    height: 100dvh;
    padding: 30px;
    text-align:right
    
}






